<template>
    <div class="goods">
        <van-swipe class="my-swipe" :autoplay="3000" indicator-color="white">
            <van-swipe-item>1</van-swipe-item>
            <van-swipe-item>2</van-swipe-item>
            <van-swipe-item>3</van-swipe-item>
            <van-swipe-item>4</van-swipe-item>
        </van-swipe>

        <!-- <van-goods-action :key="item" v-for="item in tableData2"> -->
        <van-goods-action>
            <van-goods-action-icon icon="chat-o" text="客服" dot />
            <van-goods-action-icon icon="cart-o" text="购物车" badge="5" />
            <van-goods-action-icon icon="shop-o" text="店铺" badge="12" />
            <van-goods-action-button type="warning" text="加入购物车"/>
            <!-- <van-goods-action-button type="warning" text="加入购物车" @click="jump('/cart',item.goodsId)"/> -->
            <van-goods-action-button type="danger" text="立即购买" />
        </van-goods-action>
    </div>
    
</template>
<script>
import {postCartcreateApi,getDetailApi} from '@/api'
export default {
    data(){
        return {
            goodsId:'',
            buyNum:1,
            token:'adf7cbdcdc62b07d94f86339e5687ca51',
            tableData1:[],
            tableData2:[]
        }
    },
    created(){
        this.initData()
    },
    methods:{
        initData(){
            // 商品详情
            getDetailApi({
                goodsId:this.goodsId
            }).then(res=>{
                console.log(res.data)
                this.tableData1=res.data
            })

            // 加入购物车
            postCartcreateApi({
                goodsId:this.goodsId,
                buyNum:this.buyNum,
                token:this.token,
            }).then(res=>{
                // console.log(res.data)
                this.tableData2=res.data
            })
        },
    }
}
</script>
<style lang="scss" scoped>
.goods{
    width:100%;

    .my-swipe .van-swipe-item {
        color: #fff;
        font-size: 20px;
        line-height: 150px;
        text-align: center;
        background-color: #39a9ed;
    }
}
</style>