<template>
  <div class="list">
        <!-- 头部 -->
        <div class="header">
            <van-icon name="arrow-left" @click="initData()"/>
            <van-search
                v-model="goods_name"
                shape="round"
                placeholder="请输入搜索关键词"
            />  
            <van-icon name="shopping-cart" />
        </div>

    <div class="nav" :data="tableData">
        <van-dropdown-menu>
            <van-dropdown-item v-model="value1" :options="option1"></van-dropdown-item>
        </van-dropdown-menu>   
        <van-tabs v-model="active" line-width="0">
            <van-tab title="销量排序" id="right"></van-tab>
            <van-tab title="新品上架" id="right"></van-tab>
        </van-tabs>
    </div>
        
        <van-pull-refresh v-model="refreshing" @refresh="onRefresh">
            <van-list
                v-model="loading"
                :finished="finished"
                finished-text="没有更多了"
                @load="onLoad"
            >
                <div v-for="(item,index) in tableData" v-bind:key="index" class="goods" @click="jump('goods',item.cat_id)">
                    <div class="l">
                        <img :src="'http://tmp00001.zhaodashen.cn/'+item.goods_img" alt="">
                        <div class="num" label="数量">仅剩{{item.goods_number}}件</div>
                    </div>
                    <div class="r">
                        <div class="name" label="诺基亚N85">{{item.goods_name}}</div>
                        <div class="price">￥{{item.market_price}}</div>
                        <div class="goods_bottom">
                            <div class="gl">{{item.goods_id}}%好评</div>
                            <div class="gc">销量{{item.is_alone_sale}}</div>
                            <div class="gr">
                                <van-icon name="cart"/>
                            </div>
                        </div>
                    </div>
                </div>     
                <!-- <div class="goods">
                    <div class="l">
                        <img src="@/assets/imgs/shouji.jpg" alt="">
                        <div class="num">仅剩2件</div>
                    </div>
                    <div class="r">
                        <div class="name">诺基亚N85</div>
                        <div class="price">￥699.00</div>
                        <div class="goods_bottom">
                            <div class="gl">0%好评</div>
                            <div class="gc">销量0</div>
                            <div class="gr">
                                <van-icon name="cart" />
                            </div>
                        </div>
                    </div>
                </div>  -->
            </van-list>
        </van-pull-refresh>
  </div>
</template>

<script>
import {getListApi} from '@/api'
export default {
    created(){
        this.initData()
    },
  methods: {
    initData(){
        getListApi({
            type:this.type,
            cat:this.cat,
            cat_id:this.cat_id,
            attr:this.attr,
            goods_name:this.goods_name

        }).then(res=>{
            console.log(res.data)
            this.tableData=res.data.list
            console.log(this.tableData)
        })
    },
    onLoad() {
      setTimeout(() => {
        if (this.refreshing) {
          this.list = [];
          this.refreshing = false;
        }

        for (let i = 0; i < 10; i++) {
          this.list.push(this.list.length + 1);
        }
        this.loading = false;

        if (this.list.length >= 40) {
          this.finished = true;
        }
      }, 1000);
    },
    onRefresh() {
      // 清空列表数据
      this.finished = false;

      // 重新加载数据
      // 将 loading 设置为 true，表示处于加载状态
      this.loading = true;
      this.onLoad();
    },
  },
  data() {
    return {
        goods_name:'',
        type:'',
        cat:'',
        attr:'',
        tableData:[],
        app_id:'',
        // 导航
        active: 2,
        // 列表
        list: [],
        loading: false,
        finished: false,
        refreshing: false,

        // 下拉
        value:'',
        value1: 0,
        value2: 'a',
        value3: 'A',
        option1: [
            { text: '综合排序', value: 0 },
            { text: '价格从低到高', value: 1 },
            { text: '价格从高到低', value: 2 },
            { text: '好评率', value: 3 },
        ],
    };
  },
};
</script>
<style lang="scss" scoped>
@import "@/assets/css/common.scss";
.list{
    width: 100%;

    .header{
        height: px2rem(44);
        text-indent: px2rem(10);
        border-bottom: solid px2rem(1) #e8eaed;
       .van-icon{
            float: left;
            // width: px2rem(44);
            // height: px2rem(44);
            line-height: px2rem(44);
            font-size: px2rem(28);
            color: #999;
        }

        .van-search{
            float: left;
            width: px2rem(270);
            height: px2rem(44);
            line-height: px2rem(44);
        } 
    }

    // 导航
    .goods{
        height:px2rem(112);
        display: flex;
        // background: green;
        padding: px2rem(10) px2rem(10);
        border-bottom:solid px2rem(1) #e8eaed;
        .l{
            width: px2rem(80);
            height: px2rem(80);
            position: relative;
            .name{
                width: px2rem(80);
                height: px2rem(20);
                background-color: red;
            }
            img{
                width: px2rem(110);
                height: px2rem(110);
            }
            .num{
                position: absolute;
                left: 0;
                top: px2rem(90);
                width: px2rem(110);
                height: px2rem(20);
                line-height: px2rem(20);
                text-align: center;
                background-color: #f3f4f5;
                color: #FA800A;
            }
        }
        .r{
            flex: 1;
            margin-left: px2rem(40);
            .name{
                margin-top: px2rem(15);
                font-size: px2rem(16);
            }
            .price{
                margin-top: px2rem(4);
                font-size: px2rem(16);
                color: #FA800A;
                margin-top: px2rem(8);
            }
            .goods_bottom{
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: px2rem(12);
                color: #999;
                margin-top: px2rem(10);

                .gr{
                    .van-icon{
                        font-size: px2rem(20);
                        color: #FA800A;
                    }
                }
            }
        }
    }
}

.nav{
    width: 100%;
    height: px2rem(50);
    display: flex;
    align-items: center;

    .van-dropdown-menu{
        width: 33%;
        background-color: #fff;

        .van-dropdown-item{
            box-shadow: 0;
        }
    }

    /deep/.van-tabs{
        .van-tab:nth-child(1){
            width: px2rem(200);
            height: px2rem(44);
        }
    }
}
</style>
