<template>
  <div class="home">
     <!-- header -->
     <header><div class="header">购物车</div></header>
     <p>共{{shoppingList.length}}件宝贝</p>

<div class="body">
    <div class="shoppingItem" v-bind:key="index" v-for="(item,index) in shoppingList">
          <div class="fuxuan"><van-checkbox v-model="checked" ref="checkbox" @click="selectGoods(item)"></van-checkbox></div>
          <div class="l">
              <img src="https://img.yzcdn.cn/vant/ipad.jpeg" id="photo">
          </div>
          <div class="r">
                  <p class="title">{{item.goods_name}}</p>
                  <p>{{item.goods_attr}}</p>
                  <div class="numAndMoney">
                  <p>￥{{item.goods_price}}</p>
                  <div class="numberControl">
                      <a class="btn" @click="numDel(item,index)">-</a>
                      <input type="text" class="kuang" v-model="item.num" >
                      <a class="btn" @click="numAdd(item,index)">+</a>
                  </div>
                </div>
          </div>
  </div>
  </div>

   

   

   

     <footer>
      <div class="selectCircle" :class="{checked:allSelect}" @click="allGoodsSelect"></div>
                <span style="padding: 10px">全选</span>
                <button class="bottombtn1" @click="buyGoods">￥{{sum}}&nbsp;结算</button>       
     </footer>
  </div>
</template>

<script>
import { getCartApi } from '@/api'
export default {
  data() {
    return{
      shoppingList:[],
      value:1,
      checked: false,
      sum:0,
      allSelect:false,
    }
  },
  created(){
     this.initData()
  },
  mounted(){
    
  },

  methods:{
    initData () {
      getCartApi({
        goods_id: this.good_id,
        goods_price: this.goods_price,
        goods_name: this.goods_name,
        goods_attr:this.goods_attr,
      }).then(res => {
        this.shoppingList = res.data
        console.log(res)
     })
    },
    onSubmit(){
           
    },
    selectGoods(item){
                        item.isSelect = !item.isSelect
                        this.allSelect = false
                        if(item.isSelect == true){
                            this.sum = this.sum+(item.goods_price*item.num)
                        }else{
                            this.sum = this.sum-(item.goods_price*item.num)
                        }
                    },
    allGoodsSelect(){
                        this.allSelect = !this.allSelect
                        if(this.allSelect == true){
                            this.sum=0
                            for(let i=0;i<this.shoppingList.length;i++){
                                this.shoppingList[i].isSelect = true;
                                this.sum = this.sum+(this.shoppingList[i].goods_price*this.shoppingList[i].num)
                            }
                        }else{
                            for(let i=0;i<this.shoppingList.length;i++){
                                this.sum = this.sum-(this.shoppingList[i].goods_price*this.shoppingList[i].num)
                                this.shoppingList[i].isSelect = false;
                            }
                        }
                    },
                    numAdd(item){
                        item.num++
                        if(item.isSelect == true){
                            this.sum = this.sum+item.goods_price
                        }
                    },
                    numDel(item,index){
                        item.num--
                        if(item.isSelect == true){
                            this.sum = this.sum-item.goods_price
                        }
                        if(item.num == 0){
                            this.shoppingList.splice(index,1)
                        }
                    },
    buyGoods(){
                        alert("购买成功,共花费"+this.sum+"元")
                    },
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/css/common.scss';

  .header{
    width: 100%;
    height: px2rem(30);
    // background: red;
    font-size: px2rem(20);
    text-align: center;
    font-weight: bold;
  }
  .body {
    //  display:flex;
      //  background:green;
       padding:px2rem(10) px2rem(10);
       border:solid px2rem(1) #ccc;
       
       .shoppingItem{
          display: flex;
          position: relative;
       }
    .fuxuan{
      padding-top: px2rem(30);
      padding-right: px2rem(10);
    }
    .l{
         width: px2rem(80);
         img{width: 100%;height: 100%;}
       }
       .r{
         flex: 1;
        //  background: yellow;
       }
      .numberControl{
        display: flex;
        width: px2rem(10);
        position: absolute;
        top: px2rem(30);
        right: px2rem(30);
      }
      .kuang{
        width: px2rem(20);
      }
    }
       
    
    footer{
                position: fixed;
                width: 100%;
                height: auto;
                border: 1px #a7a5a5 solid;
                bottom: 0;
                left: 0;
                background: #fff;
                display: flex;
                padding: 10px;
              
            }
            .bottombtn1{
                width:auto;
                height: px2rem(30);
                border: none;
                color: #fff;
                background-color: #e26411;
                border-radius: 25px;
                margin-top:px2rem(8);
                margin-left: px2rem(200);
            }
            .checked{
                background: #e26411;
                border: 1px solid rgba(0, 0, 0, 0)
            }
            .selectCircle{
                width: 15px;
                height: 15px;
                border: 1px solid #a7a5a5;
                border-radius: 50%;
                margin: auto 0px auto 10px;
            }
  
</style>
