<template>
  <div class='mine'>
    <!-- nihao -->
    <div class="header">
      <van-nav-bar title="我的"  >
        <template #right>
          <van-icon name="chat-o" size="28" color="black" />
          <van-icon name="setting-o"  size="28" color="black"/>
        </template>
      </van-nav-bar>

      <div class="user">
        <div class="user_pic">
          <img src="https://imgt1.oss-cn-shanghai.aliyuncs.com/ecAllRes/images/missing-face.png" alt="">
        </div>
        <div class="user_num">
          <span>{{uname}}</span>
        </div>
      </div>

      <div class="uvip">
       <p>非特殊用户组</p>
       <p>等级优惠</p>
      </div>
      <div class="i">
       <img src="https://imgt1.oss-cn-shanghai.aliyuncs.com/ecAllRes/images/arc.png" alt="">
      </div>
    </div>
    <div class="money">
      <div class="bal vip_m">
        <span>0.00</span>
        <p>余额</p>
      </div>
      <div class="redp vip_m">
        <span>0</span>
        <p>红包</p>
      </div>
      <div class="bp vip_m">
        <span>0</span>
        <p>积分</p>
      </div>
    </div>

    <div class="order">
      <div class="order_top">
        <span>我的订单</span>
        <a href="http://localhost:8080/#/orderlist">查看全部订单></a>
      </div>
      <div class="order_con">
        <div class="w_sale ord">
          <p><van-icon name="gold-coin-o" size="28"/></p>
          <span>待付款</span>
        </div>
        <div class="w_send ord">
          <p><van-icon name="logistics" size="28"/></p>
          <span>待发货</span>
        </div>
        <div class="w_take ord">
          <p><van-icon name="logistics" size="28"/></p>
          <span>待收货</span>
        </div>
        <div class="w_say ord">
          <p><van-icon name="records" size="28"/></p>
          <span>待评价</span>
        </div>
        <div class="w_pay ord">
          <p><van-icon name="after-sale" size="28"/></p>
          <span>退款/售后</span>
        </div>
      </div>
    </div>


    <div class="bottom">
      <div class="history bot">
        <span><van-icon name="clock-o"  size="24" /></span>
        <i>浏览历史</i>
      </div>
      <div class="history bot">
        <span><van-icon name="clock-o"  size="24" /></span>
        <i>我的钱包</i>
      </div>
      <div class="history bot">
        <span><van-icon name="clock-o"  size="24"  /></span>
        <i>超值礼包</i>
      </div>
      <div class="history bot">
        <span><van-icon name="clock-o"  size="24"  /></span>
        <i>红包激活</i>
      </div>
      <div class="history bot">
        <span><van-icon name="clock-o"  size="24"  /></span>
        <i>地址管理</i>
      </div>
      <div class="history bot">
        <span><van-icon name="clock-o"  size="24" /></span>
        <i>我的下级</i>
      </div>
      <div class="history bot">
        <span><van-icon name="clock-o"  size="24"  /></span>
        <i>分享</i>
      </div>
      <div class="history bot">
        <span><van-icon name="clock-o"  size="24"  /></span>
        <i>我的收藏</i>
      </div>
      <div class="history bot">
        <span><van-icon name="clock-o"  size="24"  /></span>
        <i>联系客服</i>
      </div>
      <div class="history bot">
        <span><van-icon name="clock-o"  size="24"  /></span>
        <i>设置</i>
      </div>
    </div>

  <!-- tabbar -->
  <div class="tabber">
    <div class="tab">
      <p><van-icon name="wap-home-o"  size="24"  /></p>
      <span>首页</span>
    </div>
    <div class="tab">
      <p><van-icon name="send-gift-o"  size="24" /></p>
      <span>精选</span>
    </div>
    <div class="tab">
      <p><van-icon name="diamond-o"  size="24" /></p>
      <span>分类</span>
    </div>
    <div class="tab">
      <p><van-icon name="cart-o"  size="24" /></p>
      <span>购物车</span>
    </div>
    <div class="tab">
      <p><van-icon name="manager-o"  size="24" /></p>
      <span>我的</span>
    </div>
  </div>

  </div>
</template>
<script>

  export default {
    data() {
      return {
        uname: localStorage.getItem('uname') || ''
      }
    },
   
  };
</script>
<style lang='scss' scoped>
@import "@/assets/css/common.scss";
  #app,html,body {
    width: 100%;
    background-color: black;
  }
  .mine {
    background-color: #f5f5f5;
    height: 900px;
    .header {
      width: 100%;
      height: 279px;
      background-color: red;
      background-image: url(https://imgt1.oss-cn-shanghai.aliyuncs.com/ecAllRes/images/user-bg.png);
      overflow: hidden;
      
      .uvip {
        width: 90%;
        height: 63px;
        background-color: brown;
        background-image: url(https://imgt1.oss-cn-shanghai.aliyuncs.com/ecAllRes/images/vip-card-bg.png) ;
        background-position: 100% 0%;
        background-repeat: no-repeat;
        margin: 5px auto;
        position: absolute;
        top: 188px;
        left: 18px;
        border-radius: 8px 8px 0 0;
        padding-bottom: 20px;
        p {
          font-size: 15px;
          color: #f7d680;
          margin-bottom: 14px;
          margin-left: 10px;
          margin-top: 10px;
        }
      }
      .i{
          width:100%;
          height: 40px;
          // background-color: red;
          img {
          width: 100%;
          position: absolute;
        }
      }
      
      .user {
      width: 90%;
      height: 65px;
      // background-color: blue;
      margin: 100px auto;
      display: flex;
      .user_pic {
        width: 61px;
        height: 61px;
        border: 3px solid white;
        border-radius: 50%;
        }
        img{
          width: 61px;
          height: 61px;
          margin: auto;
          vertical-align: middle;
      }
      .user_num {
        margin-top: 20px;
        margin-left: 15px;
        display: flex;

        span {
          color: #333;
          font-size: 24px;
        }
      }
    }
    .van-nav-bar {
      .van-icon {
        margin: 6px;
      }
      background: white;
      position: absolute;
      top: 0;
      width: 100%;
      // background-color: pink;
/deep/ .van-nav-bar__title {
        font-weight: 700;         
        text-align: center;
      }
    }
    }
    .money {
        width: 90%;
        height: 70px;
        background-color: white;
        margin: 10px auto;
        display: flex;
        justify-content: space-between;
        border-radius: 5px;
        .vip_m {
          width: 30%;
          height: 55px;
          text-align: center;
          // background-color: red;
          padding-top: 15px;
          span {
            font-size: 20px;
          }
          p {
            font-size: 12px;
            color: #75787d;
          }
        }
      }
      .order {
        width: 90%;
        height: 100px;
        background: white;
        margin: 10px auto;
        border-radius: 5px;
        .order_top {
          width: 100%;
          height: 25px;
          // background-color: green;
          border-radius: 5px;
          display: flex;
          justify-content: space-between;
          padding-top: 5px;
          a{
            color: #333;
            font-size: 13px;
          }
          span {
            font-size: 14px;
          }
        }
        .order_con {
          width: 100%;
          height: 70px;
          // background-color: gray;
          border-radius: 5px;
          display: flex;
          .ord {
            width: 20%;
            height: 70px;
            border-radius: 5px;
            text-align: center;
            // background-color: yellow;
            padding-top: 10px;
            span {
              font-size: 12px;
              color: #333;
            }
          }
        }
      }
      .bottom {
        width: 90%;
        height: 400px;
        background: white;
        margin: 5px auto;
        border-radius: 5px;
        margin-bottom: 80px;
        .bot {
          width: 100%;
          height: 40px;
          // background-color: red;
          display: flex;
          align-items: center;
          // margin-top: 10px;
          span {
            vertical-align: middle;
          }
          i {
            vertical-align: middle;
            font-style: normal;
            margin-left: 10px;
          }
        }
      }
      .tabber {
        width: 100%;
        height: 50px;
        background-color: white;
        position: fixed;
        bottom: 0;
        display: flex;
        // margin-top: 20px;
        .tab {
          width: 20%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          color: #333;
        }
      }
  }
</style>
