<template>
  <div class="order_confirm">
    <!-- 头部 -->
    <van-nav-bar
      title="订单确认"
      left-text="返回"
      left-arrow
      @click-left="onClickLeft"
    />
    <!-- 地址 -->
    <van-address-list v-model="chosenAddressId" :list="list" />
    <!-- 内容列表 -->
    <div class="content">
      <div class="order-item">
        <span>配送方式</span>
        <div class="right">
          <a href="#">选择配送方式</a>
          <img src="../assets/imgs/address_right.png" alt="" />
        </div>
      </div>
      <div class="order-item">
        <span>商品包装</span>
        <img src="../assets/imgs/address_right.png" alt="" />
      </div>
      <div class="order-item">
        <span>使用红包</span>
        <img src="../assets/imgs/address_right.png" alt="" />
      </div>
      <div class="order-item">
        <span>发票</span>
        <span>不开票</span>
      </div>
      <div class="order-item jf">
        <div class="left">
          <span>使用积分</span>
          <i>(本订单最多可使用0积分)</i>
        </div>
        <input type="text" value="0" />
      </div>
      <div class="order-item">
        <span>商品合计</span>
        <span>￥ {{list2.length ? list2[0].goods_number * list2[0].goods_price : 0}}</span>
      </div>
      <div class="order-item">
        <span>包装费</span>
        <span>+￥0</span>
      </div>
      <div class="order-item">
        <span>运费</span>
        <span>+￥0.00</span>
      </div>
      <div class="order-item">
        <span>优惠活动</span>
        <span>-￥0</span>
      </div>
      <div class="goods">
        <div class="left">
          <img src="../assets/imgs/logo.png" alt="" />
          <div class="detail">
            <p>{{ list2.length ? list2[0].goods_name : '' }}</p>
            <p>￥ {{ list2.length ? list2[0].goods_price : 0}}</p>
          </div>
        </div>
        <span>×{{ list2.length ? list2[0].goods_number : 0}}</span>
      </div>
      <p class="note">给卖家留言</p>
      <textarea placeholder="给卖家留言" cols="48" rows="3"></textarea>
    </div>
    <!-- 底部 -->
    <div class="footer">
      <div class="l">
        <p>实付：</p>
        <span>￥ {{ list2.length ? list2[0].goods_price : 0}}</span>
      </div>
      <div class="r">确认订单</div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import { NavBar } from "vant";
Vue.use(NavBar);
import { Toast } from "vant";
import { AddressList } from "vant";
Vue.use(AddressList);

import { getAddressApi } from "@/api";
import { getCartsApi } from "@/api";
export default {
  data() {
    return {
      chosenAddressId: "1",
      list: [],
      list2: [],
    };
  },
  created() {
    getAddressApi().then((res) => {
        // console.log(res);
        let tmp = [];
        res.data.forEach((item) => {
          item.isDefault = item.is_default;
          item.name = item.consignee + item.mobile;
          if (item.is_default == 1) tmp.push(item);
          this.list = tmp;
        });
      });
      getCartsApi().then((res) => {
        console.log(res);
        this.list2 = res.data;
      });
  },
  methods: {
    onClickLeft() {
      Toast("返回");
    },
  },
};
</script>

<style lang="scss" scoped>
@import "@/assets/css/common.scss";
.order_confirm {
  /deep/ .van-address-list__bottom {
    display: none;
  }
  /deep/.van-nav-bar__text {
    color: black;
  }
  /deep/.van-icon-arrow-left::before {
    color: black;
  }
  .van-address-list {
    background: url(https://imgt1.oss-cn-shanghai.aliyuncs.com/ecAllRes/images/address-bg-bd.png)
      0 0 repeat-x #fff;
    padding-bottom: 0;
  }
  .content {
    .goods {
      padding: 0 px2rem(8);
      display: flex;
      align-items: center;
      justify-content: space-between;
      .left {
        display: flex;

        img {
          width: px2rem(62);
          margin-right: 20px;
        }
      }
    }
    padding: 0 10px px2rem(50);
    p {
      margin-bottom: 10px;
      font-size: px2rem(13);
    }
    textarea {
      border-radius: 5px;
    }
    .note {
      font-size: px2rem(15);
    }
    .order-item {
      border-bottom: 1px solid #d9d9d9;
      padding: 15px 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      span {
        color: #333;
      }
      img {
        width: px2rem(25);
      }
      .right {
        display: flex;
        align-items: center;
        a {
          color: #333;
        }
      }
    }
    .jf {
      .left {
        float: left;
        i {
          font-style: normal;
          font-size: px2rem(13);
        }
      }
      input {
        float: right;
        width: px2rem(50);
      }
    }
  }
  // 底部
  .footer {
    width: 100%;
    height: px2rem(50);
    position: fixed;
    bottom: 0;
    left: 0;
    background: #f4f4f4;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .l {
      height: 100%;
      display: flex;
      font-size: px2rem(16);
      line-height: px2rem(50);
    }
    .r {
      margin-right: 12px;
      background: #b4282d;
      color: white;
      height: px2rem(50);
      width: px2rem(100);
      line-height: px2rem(50);
      text-align: center;
    }
  }
}
</style>

