<template>
  <div class="orderPay">
    <!-- 头部 -->
    <van-nav-bar
      title="支付"
      left-text="返回"
      left-arrow
      @click-left="onClickLeft"
    />
    <div class="orders">
      <div class="order-item">
        <span>订单号</span>
        <span>2020102271017</span>
      </div>
      <div class="order-item">
        <span>订单金额</span>
        <span>￥415.00</span>
      </div>
    </div>

    <div class="select">
      请选择支付方式
      <div class="select_item">
        <input type="checkbox">
        <img src="" alt="">
      </div>
      <div class="select_item"></div>
      <div class="select_item"></div>
      <div class="select_item"></div>
    </div>
  </div>
</template>

<script>
import { Toast } from "vant";
export default {
  name: "",
  data() {
    return {};
  },
  methods: {
    onClickLeft() {
      Toast("返回");
    },
  },
};
</script>

<style lang="scss" scoped>
@import "@/assets/css/common.scss";
.orderPay {
  background: #f4f4f4;
  /deep/.van-nav-bar__text {
    color: black;
  }
  /deep/.van-icon-arrow-left::before {
    color: black;
  }
  .orders {
    margin-top: px2rem(10);
    width: 100%;
    background-color: #fff;
    .order-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: px2rem(52);
      span{
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }
  .select{
    width: 100%;
    height: px2rem(50);
    color: #333;
    text-indent: 10px;
    line-height: px2rem(50);
    background-color: #f4f4f4;
  }
}
</style>
