/* eslint-disable no-unused-vars */
/* eslint-disable vue/valid-v-for */
<template>
  <div class='orderlist'>
    <van-nav-bar
      title="订单列表"
      left-text="返回"
      left-arrow
      @click-left="onClickLeft"
    />

  <van-tabs v-model="active">
    <van-tab title="全部">
      <!-- <van-card
        num="2"
        price="2.00"
        desc="描述信息"
        title="商品标题"
        thumb="https://img.yzcdn.cn/vant/ipad.jpeg"
      >
        
        <template #footer>
          <van-button size="mini">查看详情</van-button>
          <van-button size="mini">已取消</van-button>
        </template>
      </van-card> -->
    </van-tab>
    <van-tab title="待付款"></van-tab>
    <van-tab title="待发货"></van-tab>
    <van-tab title="待收货"></van-tab>
    <van-tab title="待评价"></van-tab>
    <van-tab title="回收站"></van-tab>
  </van-tabs> 
  <div class="shop_card">
    <div class="top">
      <span>订单编号:89757</span>
      <span>等待付款</span>
    </div>
    <div class="content">
      <img src="https://ecshop.test2.shopex123.com/images/202008/thumb_img/155_thumb_G_1596690873077.jpg" alt="">
      <div class="cw">
        <span>{{data.length? data[0].goods_name : ''}}</span><br>
        <span>{{data.length? data[0].goods_price : ''}}</span> <i>*{{data.length? data[0].goods_number : ''}}</i>
      </div>
    </div>
    <div class="bottom">
      <span>实付： ￥{{data.length? data[0].goods_price * data[0].goods_number  : 0}}</span>
      <van-button size="mini">查看详情</van-button>
      <van-button size="mini">取消订单</van-button>
      <van-button size="mini">去付款</van-button>
    </div>
  </div>

   <!-- tabbar -->
  <div class="tabber">
    <div class="tab">
      <p><van-icon name="wap-home-o"  size="24"  /></p>
      <span>首页</span>
    </div>
    <div class="tab">
      <p><van-icon name="send-gift-o"  size="24" /></p>
      <span>精选</span>
    </div>
    <div class="tab">
      <p><van-icon name="diamond-o"  size="24" /></p>
      <span>分类</span>
    </div>
    <div class="tab">
      <p><van-icon name="cart-o"  size="24" /></p>
      <span>购物车</span>
    </div>
    <div class="tab">
      <p><van-icon name="manager-o"  size="24" /></p>
      <span>我的</span>
    </div>
  </div>
  </div>
</template>
<script>
// eslint-disable-next-line no-unused-vars
import {getOrdersListApi} from '@/api';
import { Toast } from 'vant';
  export default {
   data() {
    return {
      active: 0,
      token: localStorage.getItem('token') || 'adf7cbdcdc62b07d94f86339e5687ca51',
      data:[]
    };
  },
  created() {
    this.initData()
  },
  methods: {
    onClickLeft() {
      this.$router.push({path: '/mine'})
      Toast('返回');
    },
    initData() {
      getOrdersListApi({
        token: this.token
      })
      .then(res => {
        console.log(res.data);
        this.data = res.data
      })
    }
  },
};
</script>
<style lang="scss" scoped>
  .orderlist {
    height: 1000px;
    background-color: #f5f5f5;
    .shop_card {
      background-color: #fff;
      width: 95%;
      height: 160px;
      // background-color: gray;
      margin: 5px auto;
      border-radius: 5px;
      overflow: hidden;
      .top {
        width: 95%;
        height: 20px;
        // background-color: red;
        margin: 5px auto;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #ccc;
        
          span {
            font-size: 12px;
          
        }
      }
      .content {
        width: 95%;
        height: 90px;
        // background-color:orange;
        margin: 5px auto;
        img {
          width: 56px;
          height: 56px;
          margin-top: 20px;
          float: left;
          border-radius: 10px;
        }
        .cw{
          width: 260px;
          height: 60px;
          float: left;
          margin-left: 20px;
          margin-top: 20px;
          // background-color: yellow;
          span {
            margin-top: -10px;
            vertical-align: middle;
          }
          i {
            line-height: 40px;
            margin-top: 50px;
            margin-left: 10px;
            vertical-align: middle;
            font-style: normal;
          }
        }
      }
      .bottom {
        padding-top: 5px;
        border-top: 1px solid #ccc;
        width: 95%;
        height: 30px;
        // background-color: green;
        margin: 5px auto;
        display: flex;
        justify-content: space-between;
      }
    }
    .tabber {
        width: 100%;
        height: 50px;
        background-color: white;
        position: fixed;
        bottom: 0;
        display: flex;
        // margin-top: 20px;
        .tab {
          width: 20%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          color: #333;
        }
      }
  }
</style>
