<template>
  <div class='SY'>
    <van-nav-bar left-arrow>
      <template #left>
        <img class="t1" data-v-675f8375=""
          src="https://ecshop.test2.shopex123.com/images/dc456b8a7047879310c714a7e29d1d12.jpg">
      </template>
      <template #right>
        <van-search class="in1" v-model="value" placeholder="搜索商品" />
      </template>
    </van-nav-bar>

    <van-swipe class="my-swipe" :autoplay="3000" indicator-color="white">
      <van-swipe-item>
        <div class="tu"
          style="background-image: url(&quot;https://ecshop.test2.shopex123.com/data/afficheimg/20200804evjjri.jpg&quot;); background-position: 0% 0%; background-size: 100% 100%; background-repeat: no-repeat;">
        </div>
      </van-swipe-item>
      <van-swipe-item>
        <div class="tu"
          style="background-image: url(&quot;https://ecshop.test2.shopex123.com/data/afficheimg/20200804zxwdvn.jpg&quot;); background-position: 0% 0%; background-size: 100% 100%; background-repeat: no-repeat;">
        </div>
      </van-swipe-item>
      <van-swipe-item>
        <div class="tu"
          style="background-image: url(&quot;https://ecshop.test2.shopex123.com/data/afficheimg/20200804mwyrcf.jpg&quot;); background-position: 0% 0%; background-size: 100% 100%; background-repeat: no-repeat;">
        </div>
      </van-swipe-item>
    </van-swipe>

    <van-grid class="gong" :border="false" :column-num="5" :gutter="5">
      <van-grid-item>
        <img src="https://ecshop.test2.shopex123.com/images/202008/1596692972497705316.jpg" alt="">
        <span>hahhaah</span>
      </van-grid-item>
      <van-grid-item>
        <img src="https://ecshop.test2.shopex123.com/images/202008/1596693840556642249.jpg" alt="">
        <span>hahhaah</span>
      </van-grid-item>
      <van-grid-item>
        <img src="https://ecshop.test2.shopex123.com/images/202008/1596692938600166410.jpg" alt="">
        <span>hahhaah</span>
      </van-grid-item>
      <van-grid-item>
        <img src="https://ecshop.test2.shopex123.com/images/202008/1596699739599446286.jpg" alt="">
        <span>hahhaah</span>
      </van-grid-item>
      <van-grid-item>
        <img src="https://ecshop.test2.shopex123.com/images/202008/1596695791046781055.jpg" alt="">
        <span>hahhaah</span>
      </van-grid-item>
      <van-grid-item>
        <img src="https://ecshop.test2.shopex123.com/images/202008/1596692972497705316.jpg" alt="">
        <span>hahhaah</span>
      </van-grid-item>
      <van-grid-item>
        <img src="https://ecshop.test2.shopex123.com/images/202008/1596693840556642249.jpg" alt="">
        <span>hahhaah</span>
      </van-grid-item>
      <van-grid-item>
        <img src="https://ecshop.test2.shopex123.com/images/202008/1596692938600166410.jpg" alt="">
        <span>hahhaah</span>
      </van-grid-item>
      <van-grid-item>
        <img src="https://ecshop.test2.shopex123.com/images/202008/1596699739599446286.jpg" alt="">
        <span>hahhaah</span>
      </van-grid-item>
      <van-grid-item>
        <img src="https://ecshop.test2.shopex123.com/images/202008/1596695791046781055.jpg" alt="">
        <span>hahhaah</span>
      </van-grid-item>

    </van-grid>

    <div class="tiao"></div>

    <div class="header">品牌制造商直供</div>

    <div class="content">
      <div>
        <div>
          <p>ecshop</p>
        </div><img data-v-675f8375="" src="https://ecshop.test2.shopex123.com/data/brandlogo/1597027941553706263.jpg">
      </div>
      <div>
        <div>
          <p data-v-675f8375="">innisfree</p>
        </div><img src="https://ecshop.test2.shopex123.com/data/brandlogo/1597027921524749346.jpg">
      </div>
    </div>

    <div class="top">
      <p>拼团购买</p>
      <div class="xiao">查看全部</div>
    </div>

    <div class="list">
      <ul>
        <uni-scroll-view class="scroll-view">
          <div class="uni-scroll-view">
            <div class="uni-scroll-view" style="overflow: auto hidden;">
              <div class="uni-scroll-view-content">
                <!---->
                <li><img src="https://ecshop.test2.shopex123.com/images/202008/thumb_img/170_thumb_G_1597023125512.jpg"
                    alt="">
                  <p>ECshop测试商品（拼团专用）</p>
                  <p></p>
                  <p>￥2.00</p>
                </li>
                <li><img src="https://ecshop.test2.shopex123.com/images/202008/thumb_img/153_thumb_G_1596684663387.jpg"
                    alt="">
                  <p>【109元任选2件】innisfree/悦诗风吟果感水唇彩唇釉滋润复古砖红</p>
                  <p></p>
                  <p>￥105.00</p>
                </li>
                <li><img src="https://ecshop.test2.shopex123.com/images/202008/thumb_img/152_thumb_G_1596684004981.jpg"
                    alt="">
                  <p>【88会员节秒杀】悦诗风吟真彩印象唇膏 ND6 深豆沙 3g</p>
                  <p></p>
                  <p>￥120.00</p>
                </li>
              </div>
            </div>
          </div>
        </uni-scroll-view>
      </ul>
    </div>

    <div class="top">
      <p>超值礼包</p>
      <div class="xiao">查看全部</div>
    </div>

    <li><img class="img" src="https://ecshop.test2.shopex123.com/images/4cbf91a176796f8edaab9a3263de67c1.jpg" alt="">
      <p data-v-675f8375="">中秋国庆大礼包</p>
      <p data-v-675f8375=""></p>
      <p data-v-675f8375="">￥189<span data-v-675f8375="">购买</span></p>
    </li>

    <div class="header">专题精选</div>

    <div class="hua">

      <li><img data-v-675f8375="" src="https://ecshop.test2.shopex123.com/data/article/1599013534465296983.jpg" alt="">
      </li>
      <li><img data-v-675f8375="" src="https://ecshop.test2.shopex123.com/data/article/1596682599401536080.jpg" alt="">
      </li>
      <li><img data-v-675f8375="" src="https://ecshop.test2.shopex123.com/data/article/1596681084055066633.jpg" alt="">
      </li>
      <li><img data-v-675f8375="" src="https://ecshop.test2.shopex123.com/data/article/1596682582130323096.jpg" alt="">
      </li>
    </div>

    <div class="header">专题精选</div>

    <div class="list">
      <ul class="ul">
        <li data-v-675f8375=""><img data-v-675f8375=""
            src="https://ecshop.test2.shopex123.com/images/202008/thumb_img/163_thumb_G_1596696883800.jpg" alt=""><span
            data-v-675f8375="">【88会员节】innisfree/悦诗风吟森林男士洁面水乳护肤套装保湿</span>
          <p data-v-675f8375="" class="price">360.00<span data-v-675f8375="" class="del">360.00</span></p>

        </li>
        <li data-v-675f8375=""><img data-v-675f8375=""
            src="https://ecshop.test2.shopex123.com/images/202008/thumb_img/161_thumb_G_1596695919237.jpg" alt=""><span
            data-v-675f8375="">innisfree/悦诗风吟香氛护手霜补水保湿滋润修护5支装持久留香</span>
          <p data-v-675f8375="" class="price">0.01<span data-v-675f8375="" class="del">0.01</span></p>

        </li>
        <li data-v-675f8375=""><img data-v-675f8375=""
            src="https://ecshop.test2.shopex123.com/images/202008/thumb_img/159_thumb_G_1596694702495.jpg" alt=""><span
            data-v-675f8375="">innisfree/悦诗风吟白牡丹焕妍晶白水分面霜提亮滋养保湿</span>
          <p data-v-675f8375="" class="price">220.00<span data-v-675f8375="" class="del">220.00</span></p>

        </li>
        <li data-v-675f8375=""><img data-v-675f8375=""
            src="https://ecshop.test2.shopex123.com/images/202008/thumb_img/157_thumb_G_1596691398995.jpg" alt=""><span
            data-v-675f8375="">innisfree/悦诗风吟石榴活妍焕采精华露面膜套装抗初老烟酰胺提亮</span>
          <p data-v-675f8375="" class="price">240.00<span data-v-675f8375="" class="del">240.00</span></p>

        </li>
        <li data-v-675f8375=""><img data-v-675f8375=""
            src="https://ecshop.test2.shopex123.com/images/202008/thumb_img/155_thumb_G_1596690873077.jpg" alt=""><span
            data-v-675f8375="">innisfree/悦诗风吟绿茶平衡水乳洁面套装补水保湿</span>
          <p data-v-675f8375="" class="price">240.00<span data-v-675f8375="" class="del">240.00</span></p>

        </li>
        <li data-v-675f8375=""><img data-v-675f8375=""
            src="https://ecshop.test2.shopex123.com/images/202008/thumb_img/153_thumb_G_1596684663387.jpg" alt=""><span
            data-v-675f8375="">【109元任选2件】innisfree/悦诗风吟果感水唇彩唇釉滋润复古砖红</span>

          <p data-v-675f8375="" class="price">79<span data-v-675f8375="" class="del">105.00</span></p>
        </li>
      </ul>
    </div>

    <div class="top">
      <p>超值礼包</p>
      <div class="xiao">查看全部</div>
    </div>

    <ul class="ul1">
      <li data-v-675f8375=""><img data-v-675f8375=""
          src="https://ecshop.test2.shopex123.com/images/202008/thumb_img/163_thumb_G_1596696883800.jpg" alt=""><span
          data-v-675f8375="">【88会员节】innisfree/悦诗风吟森林男士洁面水乳护肤套装保湿</span>
        <p data-v-675f8375="" class="price">360.00<span data-v-675f8375="" class="del">360.00</span></p>

      </li>
      <li data-v-675f8375=""><img data-v-675f8375=""
          src="https://ecshop.test2.shopex123.com/images/202008/thumb_img/161_thumb_G_1596695919237.jpg" alt=""><span
          data-v-675f8375="">innisfree/悦诗风吟香氛护手霜补水保湿滋润修护5支装持久留香</span>
        <p data-v-675f8375="" class="price">0.01<span data-v-675f8375="" class="del">0.01</span></p>

      </li>
      <li data-v-675f8375=""><img data-v-675f8375=""
          src="https://ecshop.test2.shopex123.com/images/202008/thumb_img/159_thumb_G_1596694702495.jpg" alt=""><span
          data-v-675f8375="">innisfree/悦诗风吟白牡丹焕妍晶白水分面霜提亮滋养保湿</span>
        <p data-v-675f8375="" class="price">220.00<span data-v-675f8375="" class="del">220.00</span></p>

      </li>
    </ul>

    <div class="header">专题精选</div>

    <div class="list">
      <ul class="ul">
        <li data-v-675f8375=""><img data-v-675f8375=""
            src="https://ecshop.test2.shopex123.com/images/202008/thumb_img/163_thumb_G_1596696883800.jpg" alt=""><span
            data-v-675f8375="">【88会员节】innisfree/悦诗风吟森林男士洁面水乳护肤套装保湿</span>
          <p data-v-675f8375="" class="price">360.00<span data-v-675f8375="" class="del">360.00</span></p>

        </li>
        <li data-v-675f8375=""><img data-v-675f8375=""
            src="https://ecshop.test2.shopex123.com/images/202008/thumb_img/161_thumb_G_1596695919237.jpg" alt=""><span
            data-v-675f8375="">innisfree/悦诗风吟香氛护手霜补水保湿滋润修护5支装持久留香</span>
          <p data-v-675f8375="" class="price">0.01<span data-v-675f8375="" class="del">0.01</span></p>

        </li>
        <li data-v-675f8375=""><img data-v-675f8375=""
            src="https://ecshop.test2.shopex123.com/images/202008/thumb_img/159_thumb_G_1596694702495.jpg" alt=""><span
            data-v-675f8375="">innisfree/悦诗风吟白牡丹焕妍晶白水分面霜提亮滋养保湿</span>
          <p data-v-675f8375="" class="price">220.00<span data-v-675f8375="" class="del">220.00</span></p>

        </li>
        <li data-v-675f8375=""><img data-v-675f8375=""
            src="https://ecshop.test2.shopex123.com/images/202008/thumb_img/157_thumb_G_1596691398995.jpg" alt=""><span
            data-v-675f8375="">innisfree/悦诗风吟石榴活妍焕采精华露面膜套装抗初老烟酰胺提亮</span>
          <p data-v-675f8375="" class="price">240.00<span data-v-675f8375="" class="del">240.00</span></p>

        </li>
        <li data-v-675f8375=""><img data-v-675f8375=""
            src="https://ecshop.test2.shopex123.com/images/202008/thumb_img/155_thumb_G_1596690873077.jpg" alt=""><span
            data-v-675f8375="">innisfree/悦诗风吟绿茶平衡水乳洁面套装补水保湿</span>
          <p data-v-675f8375="" class="price">240.00<span data-v-675f8375="" class="del">240.00</span></p>

        </li>
        <li data-v-675f8375=""><img data-v-675f8375=""
            src="https://ecshop.test2.shopex123.com/images/202008/thumb_img/153_thumb_G_1596684663387.jpg" alt=""><span
            data-v-675f8375="">【109元任选2件】innisfree/悦诗风吟果感水唇彩唇釉滋润复古砖红</span>

          <p data-v-675f8375="" class="price">79<span data-v-675f8375="" class="del">105.00</span></p>
        </li>
      </ul>
    </div>

    <div class="company">
      <div class="down"><span class="app">下载APP</span></div>
      <div class="owner">沪ICP备05002918号</div>
      <div class="licence">商派软件有限公司</div>
    </div>

    <van-tabbar v-model="active" class="di">
      <van-tabbar-item name="home" icon="home-o">首页</van-tabbar-item>
      <van-tabbar-item name="search" icon="label-o">精选</van-tabbar-item>
      <van-tabbar-item name="fenlei" icon="apps-o">分类</van-tabbar-item>
      <van-tabbar-item name="setting" icon="shopping-cart-o">购物车</van-tabbar-item>
      <van-tabbar-item name="friends" icon="user-o">我的</van-tabbar-item>
    </van-tabbar>

  </div>
</template>
<script>
export default {
  data () {
    return {
      value: '',
      active: 'home',
    };
  },

};
</script>
<style lang="scss" scoped>
template {
  box-sizing: border-box, overflow：auto;
}
.SY {
  .van-grid {
    margin: 0;
  }
  .gong {
    width: 95%;
    padding: 0;
    margin: 0;
    img {
      width: 0.51rem;
      height: 0.51rem;
    }
  }
  .tu {
    width: 100%;
    height: 1.93rem;
  }
  overflow-x: auto;
  .img {
    width: 0.99rem;
    height: 0.99rem;
  }
  .my-swipe .van-swipe-item {
    color: #fff;
    font-size: 20px;
    line-height: 150px;
    text-align: center;
    background-color: #39a9ed;
  }
  .t1 {
    width: 0.71rem;
    height: 0.21rem;
    margin: 0 0.09rem;
  }
  .in1 {
    width: 2.5rem;
    height: 0.25rem;
  }
  .tiao {
    width: 100%;
    height: 0.03rem;
    background: #ededed;
  }
  //   .van-grid {
  //     margin: 0.2rem 0.3rem;
  //   }
  .header {
    text-align: center;
    padding: 0.18rem 0;
  }
  .content {
    display: flex;
    justify-content: space-between;
    img {
      width: 1.67rem;
      height: 1.09rem;
    }
  }
  .top {
    width: 100%;
    height: 0.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.13rem;
    background: #f0f6fd;
    line-height: 0.4rem;
    color: #8c9bae;
    font-size: 0.14rem;
    .xiao {
      width: 0.83rem;
      height: 0.23rem;
      background: #d8e4f0;
      text-align: center;
      line-height: 0.23rem;
      margin-right: 0.23rem;
    }
  }
  .uni-scroll-view-content {
    width: 100%;
    height: 1.44rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 0.12rem;
    li {
      flex: 1;

      width: 33.33%;
      height: 1.4rem;
      overflow: hidden;
    }
    img {
      width: 0.99rem;
      height: 0.99rem;
    }
  }
  .hua {
    height: 1.53rem;
    width: 100%;
    display: flex;
    overflow-x: auto;
    img {
      width: 2.66rem;
      height: 1.5rem;
    }
    li {
      list-style: none;
      display: flex;
    }
  }
  .ul {
    width: 100%;
    height: 3.76rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    img {
      width: 1.06rem;
      height: 1.06rem;
    }
    li {
      list-style: none;
      overflow: hidden;
      width: 1.06rem;
      height: 1.73rem;
    }
  }
  .ul1 {
    width: 100%;
    height: 1.88rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    img {
      width: 1.06rem;
      height: 1.06rem;
    }
    li {
      list-style: none;
      overflow: hidden;
      width: 1.06rem;
      height: 1.73rem;
    }
  }
  .company {
    width: 100%;
    height: 1rem;
    padding: 0.13rem 0;
    background: #414141;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    font-size: 0.12rem;
    color: #999999;
    .down {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 0.42rem;
      margin: 0.09rem 0;
      padding: 0.03rem 0.06rem;

      .app {
        display: block;
        line-height: 0.24rem;
        text-align: center;
        width: 0.92rem;
        height: 0.24rem;
        border: 1px solid white;
      }
    }
    .owner {
      display: flex;
      justify-content: center;
    }
    .licence {
      display: flex;
      justify-content: center;
    }
  }
}
</style>
