<template>
  <div class="address_map">
      <iframe style="width:100%;height: 1000px;" src="https://3gimg.qq.com/lightmap/components/locationPicker2/index.html?search=1&type=1&key=XVXBZ-NDMC4-JOGUS-XGIEE-QVHDZ-AMFV2&referer=uniapp"
    frameborder="0"></iframe>
  </div>
</template>

<script>
    window.addEventListener('message', function (event) {
        let loc = event.data;
        if (loc && loc.module == 'locationPicker') {
            console.log('location', loc);

            // name: loc.poiname,
            // addr: loc.poiaddress,
            // latng: `${loc.latlng.lat},${loc.latlng.lng}`,
            // city: loc.cityname,
            // module: loc.module,
            // window.history.back();
        }
    }, false);
</script>

<style>

</style>