<template>
  <div class="address">
      <van-nav-bar
        title="地址管理"
        left-text="返回"
        left-arrow
        />
        <van-address-list
        v-model="chosenAddressId"
        :list="list"
        
        disabled-text="以下地址超出配送范围"
        :default-tag-text="defaultTagText"
        @add="onAdd"
        @edit="onEdit"
        />
  </div>
</template>

<script>
import {Toast} from 'vant';
import getAddressApi from '@/api/address.js'
export default {
    created(){
        getAddressApi().then(res=>{
            res.data.forEach(item => {
            item.name = item.consignee
            this.list.push(item) 
            if(item.is_default == 1)
                this.defaultTagText = "默认"
            });

        })
    },
data() {
    return {
      chosenAddressId: '1',
      list: [],
      defaultTagText:''
    };
  },
  methods: {
    onAdd() {
      Toast('新增地址');
    },
    onEdit(item, index) {
      Toast('编辑地址:' + index);
    },
  },
}
</script>

<style lang="scss" scoped>
@import '@/assets/css/common.scss';
.address{
    .van-nav-bar{
        /deep/ i,/deep/ span {
            color:black !important;
        }
    }
    .van-address-item{
        border-bottom: 1px solid black;
        border-radius: 0;
        /deep/.van-radio__icon{
            display: none;
        }
    }
}
</style>