<template>

  <div class="address_edit">
      <van-nav-bar
        title="添加地址"
        left-text="返回"
        left-arrow
        />
      <van-address-edit
        :area-list="areaList"
        show-set-default
        show-search-result
        :search-result="searchResult"
        :area-columns-placeholder="['请选择', '请选择', '请选择']"
        @save="onSave"
        @change-detail="onChangeDetail"
        >
        <div class="address_edit_loca">
            <span>使用地理位置</span>
            <van-button type="primary">附近位置</van-button>
        </div>
            
        </van-address-edit>
  </div>
</template>

<script>
import { Toast } from 'vant';
import getAreaApi from '@/api/area.js'
import postCreateAddressApi from '@/api/createaddress.js'
import areaList from '@/assets/js/area.js'
export default {
    created(){
        getAreaApi({
            type:this.pro,
            pid:'1'
        }).then(res=>{
            // let province = {}
            // province = res.data\
            this.areaList.pro= res.data
            console.log(this.areaList);
        })
        
    },
  data() {
    return {
        token :
		localStorage.getItem('token') || 'adf7cbdcdc62b07d94f86339e5687ca51',
        AddressInfo:{},
        pro :"省",
        city:"市",
        county:"区或县",
      areaList,
      searchResult: [],
      create:{}
    };
  },
  methods: {
    onSave(content) {
      Toast('save');
      console.log(content);
      this.create.username = content.name
      this.create.province = 110000
      this.create.city = 110100
      this.create.district = 110101
      this.create.address = content.addressDetail
      this.create.mobile = content.tel
      postCreateAddressApi({
        token:this.token,
        username:this.create.username,
        province:this.create.province,
        city:this.create.city,
        district:this.create.district,
        address:this.create.address,
        mobile:this.create.mobile
      }).then(res => {
            if(res.meta.state == 201)
            {
                this.$message.success(res.meta.msg);
                
            } else {
                this.$message.error(res.meta.msg);
            }
        })
    },
    onChangeDetail(val) {
      if (val) {
        this.searchResult = [
          {
            name: '黄龙万科中心',
            address: '杭州市西湖区',
          },
        ];
      } else {
        this.searchResult = [];
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import '@/assets/css/common.scss';
.address_edit{
    height: 100%;
    .van-nav-bar {
        /deep/ i, /deep/ span {
            color: black !important;
            font-size: px2rem(16);

        }
    }
    /deep/.van-address-edit{
        height: 100%;
        .address_edit_loca{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 16px;
            overflow: hidden;
            color: #323233;
            font-size: 14px;
            line-height: 24px;
            background-color: #fff;
            .van-button{
                height: px2rem(32);
            }
        }
    }
}
</style>