<template>
  <div class="star">
      <van-nav-bar
        title="收藏列表"
        left-text="返回"
        left-arrow
        />
        <div class="sublist">
            <van-card
            price="2.00"
            title="innisfree/悦诗风吟16色多功能眼影盘持久显色【圣诞限量版】"
            thumb="https://ecshop.test2.shopex123.com/images/202008/thumb_img/146_thumb_G_1596529180620.jpg"
            />
            <van-card
            price="2.00"
            title="innisfree/悦诗风吟16色多功能眼影盘持久显色【圣诞限量版】"
            thumb="https://ecshop.test2.shopex123.com/images/202008/thumb_img/146_thumb_G_1596529180620.jpg"
            /><van-card
            price="2.00"
            title="innisfree/悦诗风吟16色多功能眼影盘持久显色【圣诞限量版】"
            thumb="https://ecshop.test2.shopex123.com/images/202008/thumb_img/146_thumb_G_1596529180620.jpg"
            /><van-card
            price="2.00"
            title="innisfree/悦诗风吟16色多功能眼影盘持久显色【圣诞限量版】"
            thumb="https://ecshop.test2.shopex123.com/images/202008/thumb_img/146_thumb_G_1596529180620.jpg"
            />
        </div>
        
  </div>
 
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
@import '@/assets/css/common.scss';
.star{
    .van-nav-bar {
        /deep/ i, /deep/ span {
            color: black !important;
            font-size: px2rem(16);

        }
    }
    .van-nav-bar__left{
        color:black
    }
    .van-nav-bar{
        font-size: px2rem(14);
    }
    
    
    .sublist{
        display: flex;
        flex-wrap: wrap;
        .van-card{
            padding: 0;
            padding-left: 5%;
            width: 50%;
            background: #fff;
            margin-bottom: 5px;
            padding-bottom: 5px;
            
            .van-card__content{
                min-height: 40px;
                height: 40px;
                /deep/.van-card__bottom{
                margin-bottom: 2px;
                .van-card__price{
                    color: #9c3232 ;
                }
            }
            }
            .van-card__thumb{
                width: 166px;
                height: 166px;
                /deep/img{
                    border-radius: 0;
                }
            }
            .van-card__header{
                display: flex;
                flex-wrap: wrap;
            }
            .van-card__title{
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 100%;
                font-size: px2rem(16);
                line-height: 20px;
                margin-bottom: 2px;
            }
            
        }
        .van-card:not(:first-child) {
            margin-top: 0px; 
        }
        
    }
}
</style>