<style scoped lang="scss">
@import "@/assets/css/common.scss";
.login {
  width: 100%;
  height: 100%;
  overflow: hidden;
  // 导航
  .header {
    width: 100%;
    height: px2rem(45);
    .van-nav-bar {
      margin-left: px2rem(15);
      /deep/.van-nav-bar__left {
        padding: 0;
        .van-icon {
          font-size: px2rem(18);
          font-weight: bold;
          color: #333;
        }
        .van-nav-bar__text {
          font-size: px2rem(16);
          color: #333;
        }
      }
    }
  }
  // 页面
  #main {
    width: 100%;
    height: 100%;
    padding-top: px2rem(140);
    .input_box {
      // 用户名密码页面——用户
      .yh {
        border: px2rem(1) solid #9f8286;
        width: px2rem(340);
        margin-left: px2rem(18);
      }
      // 密码
      .mm {
        border: px2rem(1) solid #9f8286;
        width: px2rem(340);
        margin-left: px2rem(18);
        margin-top: px2rem(15);
      }
      // 登录按钮
      /deep/.dl {
        background: #a53533;
        border: px2rem(1) solid #a53533;
        border-radius: px2rem(5);
        margin-top: px2rem(55);
        height: px2rem(40);
        font-size: px2rem(13);
      }
    }
    // 切换
    .check {
      margin-top: px2rem(32);
      width: 100%;
      p {
        font-size: px2rem(14);
        width: 100%;
        text-align: center;
      }
    }
    // 微信
    .wechat {
      margin-top: px2rem(25);
      text-align: center;
    }
    // 功能区
    .footer {
      margin-top: px2rem(32);
      text-align: center;
    }
  }
}
</style>

<template>
  <div class="login">
    <!-- 导航 -->
    <div class="header">
      <van-nav-bar title="登录" left-text="返回" left-arrow @click-left="onClickLeft" />
    </div>
    <!-- 导航完 -->
    <!-- 用户名密码登录页面 -->
    <div id="main">
      <!-- 表单验证模块 -->
      <div class="input_box">
        <van-form @submit="onSubmit" error-message-align="center">
          <van-field class="yh" v-model="formData.uname" name="uname" placeholder="用户名/手机号" :rules="[{ required: true, message: '请填写用户名' }]" />
          <van-field class="mm" v-model="formData.pwd" name="pwd" type="password" placeholder="密码" :rules="[{ required: true, message: '请填写密码' }]" />
          <div style="margin: 16px;">
            <van-button class="dl" block type="info" native-type="submit">登录</van-button>
          </div>
        </van-form>
      </div>
      <!-- 表单验证模块完 -->
      <!-- 切换页面 -->
      <div class="check">
        <p @click="tz">验证码快捷登录</p>
      </div>
      <!-- 切换页面完 -->
      <!-- 微信登录 -->
      <div class="wechat">
        <van-icon name="chat" size="32" />
      </div>
      <!-- 微信登录完 -->
      <!-- 功能区 -->
      <div class="footer">
        <span>找回密码</span>｜
        <span>注册账号</span>
      </div>
      <!-- 功能区完 -->
    </div>
    <!-- 用户名密码登录页面完 -->
  </div>
</template>

<script>
// 导入接口
import { loginApi } from "@/api";
// 导入导航
import { Toast } from "vant";
export default {
  data() {
    return {
      // 接口数据
      formData: {
        uname: "",
        pwd: ""
      }
    };
  },
  methods: {
    //   导航方法
    onClickLeft() {
      Toast("返回");
    },
    // 请求接口
    onSubmit(values) {
      console.log("submit", values);
      loginApi(this.formData).then(res => {
        if (res.meta.state === 200) {
          localStorage.setItem("uname", res.data.uname);
          localStorage.setItem("token", res.data.token);
          localStorage.setItem(
            "time",
            new Date().getTime() + 1000 * 60 * 60 * 24 * 7
          );
          alert(res.meta.msg);
          this.$router.push({ path: "/mine" });
        } else {
          alert("用户名密码错误");
        }
      });
    },
    tz() {
      this.$router.push({ path: "/securitycode" });
    }
  }
};
</script>
