<style scoped lang="scss">
@import "@/assets/css/common.scss";
.login {
  width: 100%;
  height: 100%;
  .header {
    width: 100%;
    height: px2rem(45);
  }
  .main {
    width: 100%;
    height: 100%;
    padding-top: px2rem(280);
    .dl {
      margin: px2rem(16);
    }
  }
}
</style>

<template>
  <div class="login">
    <div class="header">
      <van-nav-bar title="登录" left-text="返回" left-arrow @click-left="onClickLeft" />
    </div>
    <div class="main">
      <div class="dl">
        <van-button square block plain type="info" native-type="submit" color="#a53533" @click="tz">账号登录</van-button>
      </div>
    </div>
  </div>
</template>

<script>
// 导入导航
import { Toast } from "vant";
export default {
  data() {
    return {};
  },
  methods: {
    //   导航返回方法
    onClickLeft() {
      Toast("返回");
    },
    tz() {
      this.$router.push({ path: "/login" });
    }
  }
};
</script>
