<style scoped lang="scss">
@import "@/assets/css/common.scss";
.login {
  width: 100%;
  height: 100%;
  overflow: hidden;
  .header {
    width: 100%;
    height: px2rem(45);
    .van-nav-bar {
      margin-left: px2rem(15);
      /deep/.van-nav-bar__left {
        padding: 0;
        .van-icon {
          font-size: px2rem(18);
          font-weight: bold;
          color: #333;
        }
        .van-nav-bar__text {
          font-size: px2rem(16);
          color: #333;
        }
      }
    }
  }
  #main {
    width: 100%;
    height: 100%;
    padding-top: px2rem(140);
    .input_box {
      .yh {
        border: px2rem(1) solid #9f8286;
        width: px2rem(340);
        height: px2rem(42);
        margin-left: px2rem(18);
      }
      .mm {
        border: px2rem(1) solid #9f8286;
        width: px2rem(340);
        height: px2rem(44);
        margin-left: px2rem(18);
        margin-top: px2rem(15);
      }
      .yzmk {
        width: 100%;
        height: 100%;
        display: flex;
        .yzm {
          border: px2rem(1) solid #9f8286;
          width: px2rem(250);
          height: px2rem(44);
          margin-left: px2rem(18);
          margin-top: px2rem(15);
        }
        .hq {
          border: px2rem(1) solid #9f8286;
          width: px2rem(90);
          height: px2rem(44);
          background: #a53533;
          font-size: px2rem(14);
          margin-top: px2rem(15);
          padding: 0;
        }
      }
      .yqm {
        border: px2rem(1) solid #9f8286;
        width: px2rem(340);
        height: px2rem(44);
        margin-left: px2rem(18);
        margin-top: px2rem(15);
      }

      /deep/.dl {
        background: #a53533;
        border: px2rem(1) solid #a53533;
        border-radius: px2rem(5);
        margin-top: px2rem(55);
        height: px2rem(40);
        font-size: px2rem(13);
      }
    }
  }
}
</style>

<template>
  <div class="login">
    <div class="header">
      <van-nav-bar title="注册" left-text="返回" left-arrow @click-left="onClickLeft" />
    </div>
    <div id="main" ref="main">
      <div class="input_box">
        <van-form @submit="onSubmit">
          <van-field class="yh" v-model="formData.uname" name="用户名" placeholder="手机号" :rules="[{ required: true, message: '请填写手机号' }]" />
          <van-field class="mm" v-model="formData.pwd" type="password" placeholder="登录密码" :rules="[{ required: true, message: '请填写密码' }]" />
          <div class="yzmk">
            <van-field class="yzm" v-model="formData.captcha" placeholder="验证码" :rules="[{ required: true, message: '请填写验证码' }]" />
            <van-button class="hq" type="info">获取验证码</van-button>
          </div>
          <van-field class="yqm" v-model="value" placeholder="邀请码（非必填）" />
          <div style="margin: 16px;">
            <van-button class="dl" block type="info" native-type="submit">注册</van-button>
          </div>
        </van-form>
      </div>
    </div>
  </div>
</template>

<script>
// 接口请求
import { registerApi } from "@/api";
// 导入导航
import { Toast } from "vant";
export default {
  data() {
    return {
      value: "",
      formData: {
        uname: "",
        pwd: "",
        captcha: ""
      }
    };
  },
  methods: {
    //   导航方法
    onClickLeft() {
      Toast("返回");
    },
    onSubmit(values) {
      registerApi(this.formData).then(res => {
        if (res.meta.state === 201) {
          this.$message.success(res.meta.msg);
          this.$router.push({ path: "/mine" });
        } else {
          this.$message.error(res.meta.msg);
        }
      });
      console.log("submit", values);
    }
    // submitForm() {
    //   this.$refs.zjyz.validate(isSuccess => {
    //     if (isSuccess) {
    //       // 发送异步请求
    //       loginApi(this.formData).then(res => {
    //         if (res.meta.state === 201) {
    //           this.$message.success(res.meta.msg);
    //           this.$router.push({ path: "/mine" });
    //         } else {
    //           this.$message.error(res.meta.msg);
    //         }
    //       });
    //     } else {
    // 不管
    // 因为：验证失败elementui提供了一套规则 会自动变红
    // }
    // });
    // }
  }
};
</script>
