<style scoped lang="scss">
@import "@/assets/css/common.scss";
.login {
  width: 100%;
  height: 100%;
  overflow: hidden;
  // 导航
  .header {
    width: 100%;
    height: px2rem(45);
    .van-nav-bar {
      margin-left: px2rem(15);
      /deep/.van-nav-bar__left {
        padding: 0;
        .van-icon {
          font-size: px2rem(18);
          font-weight: bold;
          color: #333;
        }
        .van-nav-bar__text {
          font-size: px2rem(16);
          color: #333;
        }
      }
    }
  }
  // 公用页面
  #main_none {
    width: 100%;
    height: 100%;
    padding-top: px2rem(140);
    .input_box {
      // 短信验证码页面——用户
      .sj {
        border: px2rem(1) solid #9f8286;
        width: px2rem(340);
        margin-left: px2rem(18);
      }
      // 短信验证码页面——验证码
      .yzmk {
        width: 100%;
        min-height: px2rem(44);
        display: flex;
        .yzm {
          border: px2rem(1) solid #9f8286;
          width: px2rem(250);
          min-height: px2rem(42);
          margin-left: px2rem(18);
          margin-top: px2rem(15);
        }
        .hq {
          border: px2rem(1) solid #9f8286;
          width: px2rem(90);
          height: px2rem(46);
          background: #a53533;
          font-size: px2rem(14);
          margin-top: px2rem(15);
          padding: 0;
        }
      }
      // 登录按钮
      /deep/.dl {
        background: #a53533;
        border: px2rem(1) solid #a53533;
        border-radius: px2rem(5);
        margin-top: px2rem(55);
        height: px2rem(40);
        font-size: px2rem(13);
      }
    }
    // 切换
    .check {
      margin-top: px2rem(32);
      width: 100%;
      p {
        font-size: px2rem(14);
        width: 100%;
        text-align: center;
      }
    }
    // 微信
    .wechat {
      margin-top: px2rem(25);
      text-align: center;
    }
    // 功能区
    .footer {
      margin-top: px2rem(32);
      text-align: center;
    }
  }
}
</style>

<template>
  <div class="login">
    <!-- 导航 -->
    <div class="header">
      <van-nav-bar title="登录" left-text="返回" left-arrow @click-left="onClickLeft" />
    </div>
    <!-- 导航完 -->
    <!-- 验证码登录页面 -->
    <div id="main_none">
      <!-- 登录表单模块 -->
      <div class="input_box">
        <van-form @submit="onSubmit">
          <!-- 用户名 -->
          <van-field class="sj" v-model="formData.uname" name="用户名" placeholder="手机号" :rules="[{ required: true, message: '请填写用户名' }]" />
          <!-- 用户名完 -->
          <!-- 验证码模块 -->
          <div class="yzmk">
            <van-field class="yzm" v-model="formData.captcha" type="password" placeholder="验证码" :rules="[{ required: true, message: '请填写密码' }]" />
            <van-button class="hq" type="info">获取验证码</van-button>
          </div>
          <!-- 验证码模块完 -->
          <!-- 登录按钮 -->
          <div style="margin: 16px;">
            <van-button class="dl" block type="info" native-type="submit">登录</van-button>
          </div>
          <!-- 登录按钮完 -->
        </van-form>
      </div>
      <!-- 登录表单模块完 -->
      <!-- 切换页面 -->
      <div class="check">
        <p @click="tz">密码登录</p>
      </div>
      <!-- 切换页面完 -->
      <!-- 微信登录 -->
      <div class="wechat">
        <van-icon name="chat" size="32" />
      </div>
      <!-- 微信登录完 -->
      <!-- 功能区 -->
      <div class="footer">
        <span>找回密码</span>｜
        <span>注册账号</span>
      </div>
      <!-- 功能区完 -->
    </div>
    <!-- 验证码登录页面完 -->
  </div>
</template>

<script>
// 导入接口
import { Securitycode } from "@/api";
// 导入导航
import { Toast } from "vant";
export default {
  data() {
    return {
      // 接口数据
      formData: {
        uname: "",
        captcha: ""
      }
    };
  },
  methods: {
    //   导航方法
    onClickLeft() {
      Toast("返回");
    },
    // 请求接口
    onSubmit() {
      Securitycode(this.formData).then(res => {
        if (res.meta.state === 200) {
          alert(res.meta.msg);
          // this.$router.push({ path: "/register" });
        } else {
          alert("验证码错误");
        }
      });
    },
    tz() {
      this.$router.push({ path: "/login" });
    }
  }
};
</script>
